@model UNi_Portal.Models.FilterModel
@using System.Data
@{
    ViewBag.Title = "Attendance Sheet";
    if ( ( Request.Cookies[ "Login" ] == null ) )
    {
        Response.Redirect( Url.Action( "Index", "Home" ) );
    }
}

<div class="container my-3">
    @if ( !ViewData.ModelState.IsValid )
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>
                @Html.ValidationSummary( false )
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </strong>
        </div>
    }
    @if ( ViewData[ "AlertData" ] != "" )
    {
        <div class="my-3">
            <div class="alert alert-@ViewData["AlertType"] alert-dismissible fade show" role="alert">
                <strong>@ViewData[ "AlertHeading" ]!</strong> @ViewData[ "AlertData" ]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    }
    @{
        ViewData[ "AlertData" ] = "";
        ViewData[ "AlertType" ] = "";
        ViewData[ "AlertHeading" ] = "";
    }
    @using ( Html.BeginForm( "TCHRAttendance", "Home", FormMethod.Post ) )
    {
        <div class="row">
            <div class="col-lg-4 py-3">
                @Html.LabelFor( model => model.PRG_SCLSchoolCode, new { @class = "control-label" } )
                @Html.DropDownListFor( model => model.PRG_SCLSchoolCode, new SelectList( ( System.Collections.IEnumerable ) ViewData[ "cbSchools" ], "Value", "Text", "0" ), "Select", new { @class = "form-control" } )
                @Html.ValidationMessageFor( model => model.PRG_SCLSchoolCode, "", new { @class = "text-danger" } )
            </div>
            <div class="col-lg-4 py-3">
                @Html.LabelFor( model => model.PRG_PCode, new { @class = "control-label" } )
                @Html.DropDownListFor( model => model.PRG_PCode, Enumerable.Empty<SelectListItem>(), "Select", new { @class = "form-control" } )
                @Html.ValidationMessageFor( model => model.PRG_PCode, "", new { @class = "text-danger" } )
            </div>
            <div class="col-lg-4 py-3">
                @Html.LabelFor( model => model.PRG_SCode, new { @class = "control-label" } )
                @Html.DropDownListFor( model => model.PRG_SCode, Enumerable.Empty<SelectListItem>(), "Select", new { @class = "form-control" } )
                @Html.ValidationMessageFor( model => model.PRG_SCode, "", new { @class = "text-danger" } )
            </div>
            <div class="col-lg-4  py-3">
                @Html.LabelFor( model => model.Subject, new { @class = "control-label" } )
                @Html.TextBoxFor( model => model.Subject, new { @class = "form-control", @placeholder = @Html.DisplayNameFor( model => model.Subject ) } )
                @Html.ValidationMessageFor( model => model.Subject, "", new { @class = "text-danger" } )
            </div>
            <div class="col-lg-4 py-3">
                @Html.LabelFor( model => model.ClassDate, new { @class = "control-label" } )
                @Html.TextBoxFor( model => model.ClassDate, "{0:dd/MM/yyyy}", new { type = "date", @class = "form-control", @placeholder = @Html.DisplayNameFor( model => model.ClassDate ) } )
                @Html.ValidationMessageFor( model => model.ClassDate, "", new { @class = "form-text text-danger" } )
            </div>
            <div class="col-lg-4  py-3">
                @Html.LabelFor( model => model.StartTime, new { @class = "control-label" } )
                @Html.TextBoxFor( model => model.StartTime, new { type = "time", @class = "form-control" } )
                @Html.ValidationMessageFor( model => model.StartTime, "", new { @class = "form-text text-danger" } )
            </div>
            <div class="col-lg-4 py-3">
                @Html.LabelFor( model => model.EndTime, new { @class = "control-label" } )
                @Html.TextBoxFor( model => model.EndTime, new { type = "time", @class = "form-control" } )
                @Html.ValidationMessageFor( model => model.EndTime, "", new { @class = "form-text text-danger" } )
            </div>

        </div>

        <div class="float-right mb-2">
            <button class="btn btn-UNi btn-md" id="createAttendance" type="button">Create Marks Sheet</button>
            <button class="btn btn-danger btn-md" type="reset" id="resetMarksSheet">Refresh</button>
        </div>

        <div class="table-responsive-md">
            <table class="table table-hover">
                <thead>
                    <tr class="bg-UNi">
                        <th scope="col">#</th>
                        <th scope="col">User ID</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Program</th>
                        <th scope="col">School</th>
                        <th scope="col" class="text-center">Status</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <button class="btn btn-UNi btn-md btn-block" type="submit">Save Attendance</button>
    }
</div>
