@using Newtonsoft.Json.Linq
@{
    dynamic Login = "";
    if ( Request.Cookies[ "Login" ] != null )
    {
        Login = JObject.Parse( Request.Cookies[ "Login" ].Value );
    }
}

<header class="container">
    <nav class="navbar navbar-expand-md navbar-light bg-white">
        <a class="navbar-brand" href="#">
            <img src="~/images/Logo-2.png" width="70" height="57" class="d-inline-block align-top"
                 alt="UNi Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-caret-down fa-lg" style="color: #224172;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <!-- Links -->
            <ul class="navbar-nav ml-auto">
                @if ( Request.Cookies[ "Login" ] != null && Login.Role == "Admin" )
                {
                    <li class="nav-item mx-1 @(Request.Url.AbsolutePath == Url.Action( "Dashboard", "Home" ) ? "active" : "")">
                        <a class="nav-link" href="@Url.Action( "Dashboard", "Home" )">
                            <span style="color: #224172;">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item mx-1 @(Request.Url.AbsolutePath == Url.Action( "Index", "Student" ) ? "active" : "")">
                        <a class="nav-link" href="@Url.Action( "Index", "Student" )">
                            <span style="color: #224172;">Students List</span>
                        </a>
                    </li>
                    <li class="nav-item mx-1 @(Request.Url.AbsolutePath == Url.Action( "Index", "Teacher" ) ? "active" : "")">
                        <a class="nav-link" href="@Url.Action( "Index", "Teacher" )">
                            <span style="color: #224172;">Teachers List</span>
                        </a>
                    </li>
                }
                else if ( Request.Cookies[ "Login" ] != null && Login.Role == "Teacher" )
                {
                    <li class="nav-item mx-1 @(Request.Url.AbsolutePath == Url.Action( "TCHRMarkSheet", "Home" ) ? "active" : "")">
                        <a class="nav-link" href="@Url.Action( "TCHRAttendance", "Home" )">
                            <span style="color: #224172;">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item mx-1 @(Request.Url.AbsolutePath == @Url.Action( "TCHRMarkSheet", "Home" ) ? "active" : "")">
                        <a class="nav-link" href="@Url.Action( "Index", "Student" )">
                            <span style="color: #224172;">Students List</span>
                        </a>
                    </li>
                }
                else if ( Request.Cookies[ "Login" ] != null && Login.Role == "Student" )
                { }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="#"><span style="color: #224172;">About Us</span></a>
                    </li>
                }

            </ul>


            @if ( Request.Cookies[ "Login" ] != null )
            {
                <div class="dropdown">
                    <a href="" class="nav-link icon-no-margin" data-toggle="dropdown" role="button">
                        <span class="avatar current">
                            <span class="fas fa-user-graduate fa-2x mr-2 "
                                  style="color: #224172;" />
                        </span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right text-center menu"
                         style="border: 1px solid #224172; padding: 5px;" id="action-menu-1-menu">
                        <a target="_blank" href="~/images/Logo-2.png">
                            <img src="~/images/Logo-2.png" class="mb-3" style="width:50%;">
                        </a>
                        <p class="text-muted">@Login.ID</p>
                        <p class="text-muted">@Login.FirstName @Login.LastName</p>

                        <a href="@Url.Action("Logout","Home")" class="btn btn-UNi" style="color: white;">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </div>
                </div>
            }
        </div>
    </nav>
</header>